<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Failed suite [Suite]]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a77081">  <td>18/05/17 15:54:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDependsOnGroups01.tomcatServerIsDown()[pri:0, instance:FirstDemo.TestDependsOnGroups01@7c75222b]">tomcatServerIsDown</td> 
  <td>main@1945604815</td>   <td></td> </tr>
<tr bgcolor="9061ba">  <td>18/05/17 15:54:39</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReRunFailedTestCaseDemo01.test03()[pri:0, instance:FirstDemo.ReRunFailedTestCaseDemo01@4c203ea1]">test03</td> 
  <td>main@1945604815</td>   <td></td> </tr>
<tr bgcolor="9061ba">  <td>18/05/17 15:54:39</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReRunFailedTestCaseDemo01.test05()[pri:0, instance:FirstDemo.ReRunFailedTestCaseDemo01@4c203ea1]">test05</td> 
  <td>main@1945604815</td>   <td></td> </tr>
<tr bgcolor="9f6666">  <td>18/05/17 15:54:39</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAssert02.testSoftAssert()[pri:0, instance:FirstDemo.TestAssert02@27f674d]">testSoftAssert</td> 
  <td>main@1945604815</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>18/05/17 15:54:39</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestDataProvider.beforeClass()[pri:0, instance:FirstDemo.TestDataProvider@1d251891]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1945604815</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>18/05/17 15:54:39</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestDataProvider.beforeMethod()[pri:0, instance:FirstDemo.TestDataProvider@1d251891]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1945604815</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>18/05/17 15:54:39</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDataProvider.addTest(int, int, int)[pri:0, instance:FirstDemo.TestDataProvider@1d251891]">addTest</td> 
  <td>main@1945604815</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>18/05/17 15:54:39</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestDataProvider.afterMethod()[pri:0, instance:FirstDemo.TestDataProvider@1d251891]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1945604815</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>18/05/17 15:54:39</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestDataProvider.beforeMethod()[pri:0, instance:FirstDemo.TestDataProvider@1d251891]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1945604815</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>18/05/17 15:54:39</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDataProvider.addTest(int, int, int)[pri:0, instance:FirstDemo.TestDataProvider@1d251891]">addTest</td> 
  <td>main@1945604815</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>18/05/17 15:54:39</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestDataProvider.afterMethod()[pri:0, instance:FirstDemo.TestDataProvider@1d251891]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1945604815</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>18/05/17 15:54:39</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestDataProvider.beforeMethod()[pri:0, instance:FirstDemo.TestDataProvider@1d251891]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1945604815</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>18/05/17 15:54:39</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDataProvider.minusTest(int, int, int)[pri:0, instance:FirstDemo.TestDataProvider@1d251891]">minusTest</td> 
  <td>main@1945604815</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>18/05/17 15:54:39</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestDataProvider.afterMethod()[pri:0, instance:FirstDemo.TestDataProvider@1d251891]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1945604815</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>18/05/17 15:54:39</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestDataProvider.beforeMethod()[pri:0, instance:FirstDemo.TestDataProvider@1d251891]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1945604815</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>18/05/17 15:54:39</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDataProvider.minusTest(int, int, int)[pri:0, instance:FirstDemo.TestDataProvider@1d251891]">minusTest</td> 
  <td>main@1945604815</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>18/05/17 15:54:39</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestDataProvider.afterMethod()[pri:0, instance:FirstDemo.TestDataProvider@1d251891]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1945604815</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>18/05/17 15:54:39</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestDataProvider.afterClass()[pri:0, instance:FirstDemo.TestDataProvider@1d251891]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1945604815</td>   <td></td> </tr>
<tr bgcolor="ff8b8f">  <td>18/05/17 15:54:39</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAssert01.test()[pri:0, instance:FirstDemo.TestAssert01@48140564]">test</td> 
  <td>main@1945604815</td>   <td></td> </tr>
<tr bgcolor="7c709b">  <td>18/05/17 15:54:39</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestInvocation.loginTest()[pri:0, instance:FirstDemo.TestInvocation@58ceff1]">loginTest</td> 
  <td>main@1945604815</td>   <td></td> </tr>
</table>
