<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c5e7b4">  <td>18/05/17 19:13:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReRunFailedTestCaseDemo01.test03()[pri:0, instance:FirstDemo.reRun.ReRunFailedTestCaseDemo01@366e2eef]">test03</td> 
  <td>main@1123225098</td>   <td></td> </tr>
<tr bgcolor="c5e7b4">  <td>18/05/17 19:13:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReRunFailedTestCaseDemo01.test05()[pri:0, instance:FirstDemo.reRun.ReRunFailedTestCaseDemo01@366e2eef]">test05</td> 
  <td>main@1123225098</td>   <td></td> </tr>
</table>
