<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee6065">  <td>18/05/17 15:52:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDataProvider.addTest(int, int, int)[pri:0, instance:FirstDemo.TestDataProvider@4f7d0008]">addTest</td> 
  <td>main@42121758</td>   <td></td> </tr>
<tr bgcolor="ee6065">  <td>18/05/17 15:52:57</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDataProvider.addTest(int, int, int)[pri:0, instance:FirstDemo.TestDataProvider@4f7d0008]">addTest</td> 
  <td>main@42121758</td>   <td></td> </tr>
<tr bgcolor="ee6065">  <td>18/05/17 15:52:57</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestDataProvider.afterClass()[pri:0, instance:FirstDemo.TestDataProvider@4f7d0008]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@42121758</td>   <td></td> </tr>
<tr bgcolor="ee6065">  <td>18/05/17 15:52:57</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestDataProvider.afterMethod()[pri:0, instance:FirstDemo.TestDataProvider@4f7d0008]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@42121758</td>   <td></td> </tr>
<tr bgcolor="ee6065">  <td>18/05/17 15:52:57</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestDataProvider.afterMethod()[pri:0, instance:FirstDemo.TestDataProvider@4f7d0008]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@42121758</td>   <td></td> </tr>
<tr bgcolor="ee6065">  <td>18/05/17 15:52:57</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestDataProvider.afterMethod()[pri:0, instance:FirstDemo.TestDataProvider@4f7d0008]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@42121758</td>   <td></td> </tr>
<tr bgcolor="ee6065">  <td>18/05/17 15:52:57</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestDataProvider.afterMethod()[pri:0, instance:FirstDemo.TestDataProvider@4f7d0008]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@42121758</td>   <td></td> </tr>
<tr bgcolor="ee6065">  <td>18/05/17 15:52:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestDataProvider.beforeClass()[pri:0, instance:FirstDemo.TestDataProvider@4f7d0008]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@42121758</td>   <td></td> </tr>
<tr bgcolor="ee6065">  <td>18/05/17 15:52:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestDataProvider.beforeMethod()[pri:0, instance:FirstDemo.TestDataProvider@4f7d0008]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@42121758</td>   <td></td> </tr>
<tr bgcolor="ee6065">  <td>18/05/17 15:52:57</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestDataProvider.beforeMethod()[pri:0, instance:FirstDemo.TestDataProvider@4f7d0008]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@42121758</td>   <td></td> </tr>
<tr bgcolor="ee6065">  <td>18/05/17 15:52:57</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestDataProvider.beforeMethod()[pri:0, instance:FirstDemo.TestDataProvider@4f7d0008]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@42121758</td>   <td></td> </tr>
<tr bgcolor="ee6065">  <td>18/05/17 15:52:57</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestDataProvider.beforeMethod()[pri:0, instance:FirstDemo.TestDataProvider@4f7d0008]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@42121758</td>   <td></td> </tr>
<tr bgcolor="618ddd">  <td>18/05/17 15:52:57</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestInvocation.loginTest()[pri:0, instance:FirstDemo.TestInvocation@589838eb]">loginTest</td> 
  <td>main@42121758</td>   <td></td> </tr>
<tr bgcolor="ee6065">  <td>18/05/17 15:52:57</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDataProvider.minusTest(int, int, int)[pri:0, instance:FirstDemo.TestDataProvider@4f7d0008]">minusTest</td> 
  <td>main@42121758</td>   <td></td> </tr>
<tr bgcolor="ee6065">  <td>18/05/17 15:52:57</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDataProvider.minusTest(int, int, int)[pri:0, instance:FirstDemo.TestDataProvider@4f7d0008]">minusTest</td> 
  <td>main@42121758</td>   <td></td> </tr>
<tr bgcolor="9679aa">  <td>18/05/17 15:52:57</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAssert01.test()[pri:0, instance:FirstDemo.TestAssert01@271053e1]">test</td> 
  <td>main@42121758</td>   <td></td> </tr>
<tr bgcolor="b4aea6">  <td>18/05/17 15:52:57</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReRunFailedTestCaseDemo01.test03()[pri:0, instance:FirstDemo.ReRunFailedTestCaseDemo01@5f341870]">test03</td> 
  <td>main@42121758</td>   <td></td> </tr>
<tr bgcolor="b4aea6">  <td>18/05/17 15:52:57</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReRunFailedTestCaseDemo01.test05()[pri:0, instance:FirstDemo.ReRunFailedTestCaseDemo01@5f341870]">test05</td> 
  <td>main@42121758</td>   <td></td> </tr>
<tr bgcolor="aaf88c">  <td>18/05/17 15:52:57</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAssert02.testSoftAssert()[pri:0, instance:FirstDemo.TestAssert02@553f17c]">testSoftAssert</td> 
  <td>main@42121758</td>   <td></td> </tr>
<tr bgcolor="6b8daa">  <td>18/05/17 15:52:57</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDependsOnGroups01.tomcatServerIsDown()[pri:0, instance:FirstDemo.TestDependsOnGroups01@14bf9759]">tomcatServerIsDown</td> 
  <td>main@42121758</td>   <td></td> </tr>
</table>
