<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>API Test</td><td>TestGroups.test01()[pri:0, instance:FirstDemo.TestGroups@4fccd51b]<br/>TestGroups.test02()[pri:0, instance:FirstDemo.TestGroups@4fccd51b]<br/></td></tr>
<tr><td>Function Test</td><td>TestGroups.test01()[pri:0, instance:FirstDemo.TestGroups@4fccd51b]<br/>TestGroups.test03()[pri:0, instance:FirstDemo.TestGroups@4fccd51b]<br/></td></tr>
<tr><td>TestOrder02</td><td>TestOrder02.testMethod02()[pri:0, instance:FirstDemo.TestOrder02@5f5a92bb]<br/>TestOrder02.testMethod01()[pri:0, instance:FirstDemo.TestOrder02@5f5a92bb]<br/></td></tr>
<tr><td>add</td><td>TestDataProvider.addTest(int, int, int)[pri:0, instance:FirstDemo.TestDataProvider@3ada9e37]<br/></td></tr>
<tr><td>app</td><td>TestDependsOnGroups02.startAppServer()[pri:0, instance:FirstDemo.TestDependsOnGroups02@6c629d6e]<br/>TestDependsOnGroups02.shutDownApp()[pri:0, instance:FirstDemo.TestDependsOnGroups02@6c629d6e]<br/></td></tr>
<tr><td>minus</td><td>TestDataProvider.minusTest(int, int, int)[pri:0, instance:FirstDemo.TestDataProvider@3ada9e37]<br/></td></tr>
<tr><td>tomcat</td><td>TestDependsOnGroups02.tomcatServerIsDown()[pri:0, instance:FirstDemo.TestDependsOnGroups02@6c629d6e]<br/>TestDependsOnGroups01.tomcatServerIsDown()[pri:0, instance:FirstDemo.TestDependsOnGroups01@1761e840]<br/>TestDependsOnGroups01.restartTomcatService()[pri:0, instance:FirstDemo.TestDependsOnGroups01@1761e840]<br/>TestDependsOnGroups02.restartTomcatService()[pri:0, instance:FirstDemo.TestDependsOnGroups02@6c629d6e]<br/></td></tr>
</table>
